---
import Layout from '../layouts/Layout.astro'
import { Heading1 } from 'ui'
import Social from '../components/Social.astro'
import Experience from '../components/Experience.astro'
import About from '../components/About.astro'
import Activity from '../components/Activity.astro'
---

<Layout title="Hirotaka Miyagi">
  <main>
    <Heading1>Hirotaka Miyagi</Heading1>
    <About />
    <Social />
    <Experience />
    <Activity />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
