---
import { Heading2, UnorderedList } from 'ui'
import Link from './Link.astro'
---

<section>
  <Heading2>About</Heading2>
  <UnorderedList>
    <li>Ruby, TypeScript, GraphQL, Terraformを扱うフリーランスエンジニアです。</li>
    <li>スタートアップでの活動が長く、ジェネラリストのような振る舞いが得意です。</li>
    <li>インテリア、カメラ、銭湯が好きです。</li>
    <li>🐇と暮らしています。</li>
  </UnorderedList>
  <ul>
    <li>Call for Job Offers</li>
    <li>好む振る舞い</li>
    <li><Link href="/behavior">キャリアの指向性</Link></li>
  </ul>
</section>
