---
import { Heading2 } from 'ui'
import Link from './Link.astro'
---

<section>
  <Heading2>Social</Heading2>
  <ul>
    <li><Link href="https://twitter.com/MH4GF">Twitter</Link></li>
    <li><Link href="https://github.com/MH4GF">GitHub</Link></li>
  </ul>
</section>

<style>
  section {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
  }
</style>
